{% extends 'layouts:landing' %}

{% block content_right %}

<div class="col-4">

    <div class="list-group">
        <a href="/" class="list-group-item list-group-item-action active">Home</a>
        <a href="/home/cookies" class="list-group-item list-group-item-action">Cookies</a>
        <a href="/home/highlight" class="list-group-item list-group-item-action">highlight</a>
        <a href="/auth/login" class="list-group-item list-group-item-action">Auth Login</a>
        <a href="/auth/register" class="list-group-item list-group-item-action">Auth Register</a>
    </div>

</div>

{% endblock %}
